/* --------- */
/* RESET */
/* --------- */
a{text-decoration: none;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* --------- */
/* FONTE */
/* --------- */
@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl-Regular.eot');
  src: url('../assets/fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Stolzl-Regular.woff') format('woff'),
    url('../assets/fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl-Light.eot');
  src: url('../assets/fonts/Stolzl-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Stolzl-Light.woff') format('woff'),
    url('../assets/fonts/Stolzl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl-Bold.eot');
  src: url('../assets/fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Stolzl-Bold.woff') format('woff'),
    url('../assets/fonts/Stolzl-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html{
  -webkit-tap-highlight-color:transparent;
}
body {
  font-family: 'Stolzl';
}

/* --------- */
/* COMMONS */
/* --------- */

/* LARGURAS E ALTURAS */
.width-max{
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  padding: 50px;
  line-height: 1.3;
  margin: auto;
}
.width-full{
  width: 100%;
  padding: 50px;
  /*
  justify-content: center;
  align-items: center;
  */
}
.width-full.contato-rodape{
  padding: 50px 50px 20px 50px;
}
.topo-height{
  padding-top: 60px;
}

/* TIPOGRAFIA */
.texto{
  font-size: 18px;
  font-weight: 300;
  color: #7e7e7e;
  line-height: 1.3;
  display: block;
}
.texto b{
  font-weight: 400;
}
.titulo-1{
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}
.titulo-2{
  font-size: 23px;
  font-weight: bold;
}
.titulo-3{
    display: block;
    line-height: 1.3;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 10px 0;
}
.titulo-4{
  display: block;
  font-size: 18px;
  font-weight: bold;
}

/* BACKROUND */
.fundo-cinza{
    width: 100%;
    background: #f9f9f9;
}

/* --------- */
/* PAGINA INICIAL */
/* --------- */


/* HEADER */
.site-header{
  height: 100vh;
  padding: 40vh 50px 0 50px !important;
}
.site-header .textChanging{
  color: #ef173b;
}


/* PORTFOLIO */
.portfolio-conteudo{
  /* max-width: 1200px; */
}

/* quadrados da grid */
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
/* Mudar a cor do hover do bloco
  .grid.projeto-bonitour figure {
    background: #ca6500;
  } 
*/
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure figcaption {
  padding: 2em;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background-color: rgba(255, 255, 255, 0.);
}

/* Mudar a cor do texto */
.grid figure figcaption.projeto-chat {color: #2F80ED;}
.grid figure figcaption.projeto-chat p {color: rgba(47,128,237,0.8);}

.grid figure figcaption.projeto-foodrest {color: #FF3148;}
.grid figure figcaption.projeto-foodrest p {color: rgba(255,49,72,0.8);}

.grid figure figcaption.projeto-binamik {color: #5670E3;}
.grid figure figcaption.projeto-binamik p {color: rgba(86,112,227,0.8);}


.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */
figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}
figure.effect-lily figcaption {
  text-align: left;
}
figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}
figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}
figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
figure.effect-lily p {
  padding-top: 8px;
  /*color: rgba(255,255,255,0.8);*/
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
figure.effect-lily:hover img {
  opacity: 0.3;
}
figure.effect-lily:hover p {
  opacity: 1;
}
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}


/* FUNDAMENTOS */
.fundamentos-bloco{
  display: flex;
  margin: 50px 0;
} 
.fundamentos-bloco .bloco{
  padding: 30px;
  flex: 1;
  border: solid 1px #ccc;

  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
} 
.fundamentos-bloco .bloco:hover{
  border: solid 1px #ef173b;
  background: #ef173b;
  cursor: default;

      -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
} 
.fundamentos-bloco .bloco:nth-child(2){
  margin: 0 30px;
}
/*icones*/ 
.fundamentos-bloco .bloco .fundamentos-imagem1{
  width: 70px;
  height: 70px;
  background: url(../assets/images/home/icon1.svg);
  margin: 0 0 20px 0;
} 
.fundamentos-bloco .bloco .fundamentos-imagem2{
  width: 70px;
  height: 70px;
  background: url(../assets/images/home/icon2.svg);
  margin: 0 0 20px 0;
} 
.fundamentos-bloco .bloco .fundamentos-imagem3{
  width: 70px;
  height: 70px;
  background: url(../assets/images/home/icon3.svg);
  margin: 0 0 20px 0;
}
/* icones hover */ 
.fundamentos-bloco .bloco:hover .fundamentos-imagem1{
  background: url(../assets/images/home/icon1_hover.svg);
} 
.fundamentos-bloco .bloco:hover .fundamentos-imagem2{
  background: url(../assets/images/home/icon2_hover.svg);
} 
.fundamentos-bloco .bloco:hover .fundamentos-imagem3{
  background: url(../assets/images/home/icon3_hover.svg);
} 
.fundamentos-bloco .bloco:hover .titulo-4{
  color: #fff;
} 


/* CONTATO */
.contato-bloco{
  background: #ef173b;
  padding: 50px 30px;
  display: flex;
  align-items: center;
}
.contato-bloco .titulo-2{
  flex: 1;
  padding: 0 30px 0 0;
  color: #fff;
}
.contato-bloco .botao{
  background: #fff;
  color: #000;
  padding: 10px 20px; 

     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contato-bloco .botao:hover{
  color: #ef173b;

     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* RODAPÉ */
.copy-social{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 50px 0 0 0;
  padding: 20px 0 0 0;
  border-top: 1px solid #e2e2e2;
}
.copy-social .texto{
  font-size: 15px;
}
.copy-social .social-icones{
  display: flex;
}
.copy-social .social-icones .imagem-social-1{
  width: 50px;
  height: 50px;
  background: url(../assets/images/home/redes-sociais/linkedin.svg);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.copy-social .social-icones .imagem-social-2{
  width: 50px;
  height: 50px;
  background: url(../assets/images/home/redes-sociais/skype.svg);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.copy-social .social-icones .imagem-social-3{
  width: 50px;
  height: 50px;
  background: url(../assets/images/home/redes-sociais/facebook.svg);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.copy-social .social-icones .imagem-social-4{
  width: 50px;
  height: 50px;
  background: url(../assets/images/home/redes-sociais/instagram.svg);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* icones hover */
.copy-social .social-icones .imagem-social-1:hover{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  background: url(../assets/images/home/redes-sociais/linkedin_hover.svg);
}
.copy-social .social-icones .imagem-social-2:hover{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  background: url(../assets/images/home/redes-sociais/skype_hover.svg);
}
.copy-social .social-icones .imagem-social-3:hover{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  background: url(../assets/images/home/redes-sociais/facebook_hover.svg);
}
.copy-social .social-icones .imagem-social-4:hover{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  background: url(../assets/images/home/redes-sociais/instagram_hover.svg);
}


/* --------- */
/* PROJETO */
/* --------- */

/* BANNER */
.projeto-header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.projeto-header.banner-roteirofacil{
  background-image: url(../assets/images/projects/project-1/job-banner.jpg);
}
.projeto-header.banner-foodrest{
  background-image: url(../assets/images/projects/project-foodrest/job-banner.jpg);
}
.projeto-header.banner-binamik{
  background-image: url(../assets/images/projects/project-binamik/job-banner.jpg);
}
.projeto-header.banner-chat{
  background-image: url(../assets/images/projects/project-chat/job-banner.jpg);
}


/* INTRO */
.secao-intro{
  display: flex;
}
.intro-info{
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 90px;
}
.projeto-roteirofacil .intro-info{
  height: 405px;
}
.intro-info .bloco-info{
  margin-top: 30px;
}
.intro-info .bloco-info:first-child{
  margin-top: 10px;
}
.intro-info .titulo-3{
  margin-top: 0;
}
.intro-conteudo{
  flex: 1;
  margin: 0;
}
.intro-conteudo .titulo-1{
  display: inline-block;
}
.intro-conteudo .tipo-tag{
    background: #ef173b;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
    vertical-align: top;
    margin-left: 10px;
    line-height: 3;
}
.intro-conteudo .tipo-tag:first-child{
    margin-left: 0;
}


/* IMAGEM */
.imagem-full{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
}


/* PERSONA */
.persona-bloco{
  display: flex;
}
.persona-bloco-menor{
  width: 200px;
  background: blue;
  height: 40px
}
.persona-bloco-maior{
  flex: 1;
}



/* --------- */
/* TRAJETORY */
/* --------- */

/* CD-TIMELINE */
#cd-timeline {
  position: relative;
  padding: 50px 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

/* CD-TIMELINE-BLOCK */
.cd-timeline-block {
  position: relative;
  margin: 50px 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
} 
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

/* CD-TIMELINE-IMG */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.01);*/
}
.cd-timeline-img img {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.cd-timeline-img.cd-work {
  background: #75ce66;
}
.cd-timeline-img.cd-academic {
  background: #c03b44;
}

/* CD-TIMELINE-CONTENT */
.cd-timeline-content {
  position: relative;
  margin-left: 50px;
  background: #f9f9f9;
  padding: 30px;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content .titulo-3 {
  margin-top: 0px;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: 15px 0 0 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}


/* --------- */
/* ABOUT */
/* --------- */

/* ESTRUTURA */
.secao-sobre{
  display: flex;
}
.sobre-info{
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 90px;
  height: 460px;
}
.imagem-circle{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}
.sobre-conteudo{
  flex: 1;
  margin: 0 0 0 30px;
}
.sobre-conteudo .titulo-3{
  text-align: center;
}
.sobre-conteudo .titulo-3:first-child{
  text-align: left;
  margin: 0 0 10px 0;
}
.sobre-liked{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
}
.sobre-liked .liked-bloco{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobre-liked .liked-bloco img{
  max-width: 60px;
}
.sobre-liked .liked-bloco .texto{
  text-align: center;
}


/* --------- */
/* PROCESSO */
/* --------- */

/* INTRO */
.processo-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.processo-intro img{
  width: 300px; 
  margin: 30px 0;
}

/* PROCESSO */
.processo-item{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 50px 0 0 0;
}
.processo-item .titulo-4, .tools-descricao .titulo-4{
  margin: 0 0 10px 0;
}
.processo-item .item{
  display: flex;
  align-items: center;
  padding: 30px;
  flex: 1;
  border: solid 1px #ccc;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.processo-item .item:hover{
  border: solid 1px #ef173b;
  background: #ef173b;
  cursor: default; 

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.processo-item .item:hover .texto, .processo-item .item:hover .titulo-4{
  color: #fff;
}
.processo-item .item .item-textos{
  margin: 0 0 0 30px;
}
/*icones*/ 
.processo-item .item .processo-imagem1{
  width: 70px;
  height: 70px;
  background: url(../assets/images/process/processo-understand.svg);
} 
.processo-item .item .processo-imagem2{
  width: 70px;
  height: 70px;
  background: url(../assets/images/process/processo-research.svg);
} 
.processo-item .item .processo-imagem3{
  width: 70px;
  height: 70px;
  background: url(../assets/images/process/processo-ideate.svg);
} 
.processo-item .item .processo-imagem4{
  width: 70px;
  height: 70px;
  background: url(../assets/images/process/processo-design.svg);
} 
.processo-item .item .processo-imagem5{
  width: 70px;
  height: 70px;
  background: url(../assets/images/process/processo-user-test.svg);
} 
/* icones hover */ 
.processo-item .item:hover .processo-imagem1{
  background: url(../assets/images/process/processo-understand-hover.svg);
}
.processo-item .item:hover .processo-imagem2{
  background: url(../assets/images/process/processo-research-hover.svg);
}
.processo-item .item:hover .processo-imagem3{
  background: url(../assets/images/process/processo-ideate-hover.svg);
}
.processo-item .item:hover .processo-imagem4{
  background: url(../assets/images/process/processo-design-hover.svg);
}
.processo-item .item:hover .processo-imagem5{
  background: url(../assets/images/process/processo-user-test-hover.svg);
}

/* TOOLS */
.processo-tools{
  display: flex;
  align-items: center;
  flex: 1;
}
.tools-icones{
  width: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.tools-descricao{
  flex: 1;
  margin: 0 0 0 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}


@media screen and (max-width: 1051px) {
  /* TOOLS */
  .processo-tools{
    flex-direction: column;
  }
  .tools-icones{
    width: 100%;
    max-width: 500px;
    grid-template-columns: repeat(6, 1fr);
  }
  .tools-descricao{
    margin: 50px 0 0 0;
    text-align: center;
  }
}

@media only screen and (min-width: 1050px) {
  /* CD-TIMELINE */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  /* CD-TIMELINE-BLOCK */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }

  /* CD-TIMELINE-IMG */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cd-timeline-img img {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }

  /* CD-TIMELINE-CONTENT */
  .cd-timeline-content {
    margin-left: 0;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

@media screen and (min-width: 1051px) {
  /* PORTFOLIO */
  .portfolio-conteudo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* IMAGEM */
  .full-inside{
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .titulo-1{
    font-size: 35px !important;
  }

  /* RODAPÉ */
  .copy-social{
    flex-direction: column-reverse;
  }
  .copy-social .social-icones{
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  /* HEADER */
  .site-header{
    padding-top: 80px !important;
  }

  /* FUNDAMENTOS */
  .fundamentos-bloco{
    display: flex;
    flex-direction: column;
  }
  .fundamentos-bloco .bloco:nth-child(2){
    margin: 30px 0;
  }

  /* CONTATO */
  .contato-bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contato-bloco .titulo-2{
    padding: 0 0 30px 0;
  }

  /* INTRO */
  .secao-intro{
    display: flex;
    flex-direction: column;
  }
  .intro-info{
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 0;

    position: unset;
    top: unset;
    height: unset;
  }
  .intro-info .bloco-info, .intro-info .bloco-info:first-child{
    margin-top: 0;
  }
  .intro-conteudo .tipo-tag{
    margin-left: 0;
  }

  /* SOBRE */
  .secao-sobre{
    display: flex;
    flex-direction: column;
  }
  .sobre-info{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 0;

    position: unset;
    top: unset;
    height: unset;
  }
  .sobre-info .sobre-pessoais{
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
  }
  .sobre-conteudo{
    margin: 30px 0 0 0;
  }

  /* TOOLS */
  .tools-icones{
    width: 100%;
    max-width: 250px;
    grid-template-columns: repeat(3, 1fr);
  }
  .tools-descricao{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 751px) and (max-width: 1050px) {
  /* PORTFOLIO */
  .portfolio-conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }  
}
@media screen and (max-width: 750px) {
  /* PORTFOLIO */
  .portfolio-conteudo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .width-max{
    padding: 50px 30px;
  }
  .width-full{
    padding: 50px 30px;
  }
  .site-header{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .width-full.contato-rodape{
    padding: 50px 30px 20px 30px;
  }

  /* INTRO */
  .secao-intro{
    display: flex;
  }
  .intro-info{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .intro-info .bloco-info{
    margin-top: 30px;
  }
  .intro-info .bloco-info:first-child{
    margin-top: 0;
  }
  .intro-conteudo{
    margin: 50px 0 0 0;
  }

  /* LIKED */
  .sobre-info .sobre-pessoais{
    flex-direction: column;
  }
  .sobre-liked{
    grid-template-columns: repeat(3, 1fr);
  }
  .sobre-conteudo .titulo-3{
    text-align: left;
  }

  /* PROCESSO */
  .processo-item .item{
    flex-direction: column;
    align-items: unset;
  }
  .processo-item .item .item-textos{
    margin: 0;
  }
  .processo-item .titulo-4{
    margin: 20px 0 10px 0;
  }

  /* TOOLS */
  .processo-tools {
    align-items: unset;
  }
  .tools-icones{
    margin: 0 auto;
  }
  .tools-descricao{
    grid-template-columns: repeat(1, 1fr);
  }
}


/* GIF SCROLL */
.icon-scroll,
.icon-scroll:before {
  position: fixed;
  left: 50%;
}
.icon-scroll {
  width: 23px;
  height: 37px;
  margin-left: -20px;
  bottom: 20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #7e7e7e;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 6px;
  height: 7px;
  background: #000;
  margin-left: -11px;
  bottom: 44px;
  border-radius: 4px;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

/* IDIOMA */
.languages {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 2;
}
.languages span {
  color: #ef173b;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}
.languages a {
  color: #a9a9a9;  
  box-sizing: border-box;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}