.menu-logo-fixed{
  position: fixed; 
  z-index: 9; 
  width: 20px; 
  height: auto; 
  left: 30px; 
  top: 20px;
}
/*
.menu-scrolled{
  background: #fff;
  transition: 0.5s;
}
*/

/* MENU 1 */
.menu0{
  background-color: white;
  position: fixed;
  text-align: right;
  height: 60px;
  padding: 25px 30px 0 0;
  z-index: 2;
  width: 100%;
}
.menu0 .menu0__list{
  display: inline-flex;
}
.menu0 .menu0__list a{
    z-index: 2;
  color: #000; 
  padding-left: 30px;
  text-decoration: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

/*
.menu-projeto .menu0 .menu0__list a{
    z-index: 2;
  color: #fff; 
  padding-left: 30px;
  text-decoration: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
*/
.menu0 .menu0__list a:hover{
  color: #ef173b; 
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.menu0 .menu0__list a.active{
  color: #ef173b; 
}

/* MENU 2 */
.menu-icon-fixed{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
}
.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 3;
  right: 30px;
  top: 25px;
  cursor: pointer;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #000;
  margin-bottom: 4px;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
/*
.menu-projeto .menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 4px;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
*/
.menu-icon__line-left {
  width: 15px;
}
/*
.menu-projeto .menu-icon__line-left {
  width: 15px;
}
*/
.menu-icon__line-right {
  width: 15px;
  float: right;
}
/*
.menu-projeto .menu-icon__line-right {
  width: 15px;
  float: right;
}
*/
.nav {
  transition: visibility .2s ease .4s;
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.6);
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateX(100%);
          transform: translateX(0%) translateX(100%);
}
.nav:after {
    background-color: #000;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav:before {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.nav__content {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.nav__list-item {
  line-height: 80px;
  color: #fff;
  font-weight: 370;

  position: relative;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s !important;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: opacity .1s ease, -webkit-transform .1s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
}
.nav__list-item:hover {
  color: #ef173b;
  text-decoration: none;
}
a.active .nav__list-item {
  color: #ef173b;
  font-weight: bold;
}


body.nav-active .menu-icon__line {
  background-color: #fff !important;
  -webkit-transform: translateX(0px) rotate(-45deg);
          transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity .1s ease, color .1s ease, -webkit-transform .1s ease;
  transition: opacity .1s ease, color .1s ease, -webkit-transform .1s ease;
  transition: opacity .1s ease, transform .1s ease, color .1s ease;
  transition: opacity .1s ease, transform .1s ease, color .1s ease, -webkit-transform .1s ease;
}
body.nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
body.nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
body.nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav__list-item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav__list-item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}


@media (min-width: 1100px) {
  .menu-icon, .menu-icon__line, .nav, .nav__content, .nav__list-item {
    display: none;
  }
  .menu-icon-fixed{
    display: none;
  }
}
@media (max-width: 1100px) {
  .menu0{
    display: none;
  }
}